body{
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #2098D1;
    color: white;
    overflow-y: auto;
    padding: 20px;
}

.logo_container{
    position: relative;
    left: -800px;
    -webkit-animation: slide 0.2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.2s forwards;
    animation-delay: 0.2s;
}

.logo{
    display: table;
    text-decoration: none !important;
    color: white;
}

.logo:hover{
     color: white;
}

.logo svg{
    display: table-cell;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;
}

.logo svg g{
    transition: all 1s ease-in-out;
    fill:#fff;
}

.logo svg:hover g{
   fill: #BDBDBD;
}

.logo .logo-name{
    display: table-cell;
    vertical-align: middle;
}

.logo-name h3{
    font-weight: 900;
    margin-bottom: 3px;
}

h3,h4,h5{
    margin-top: 0px;
    margin-bottom: 0px;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@-webkit-keyframes slide_from_right {
    100% { right: 0; }
}

@keyframes slide_from_right{
    100% { right: 0; }
}

#navigate{
    position: relative;
    right: -800px;
    -webkit-animation: slide_from_right 0.2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide_from_right 0.2s forwards;
    animation-delay: 0.2s;
}
#navigate ul{
    font-size: 2rem;
    color: white;
    padding-left: 0px;
}

#navigate ul > li{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    position: relative;
}

#navigate ul > li a{
    color: white;
    text-decoration: none !important;
}

@media only screen and (min-width: 715px){
    .dtable{
        display: table;
        width: 100%;
    }
    .dtablecell{
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

.text-center{
    text-align: center;
}

.pl-0{
    padding-left: 0px;
}

.ml-2{
    margin-left: 2rem;
}

.mt-2{
    margin-top: 2rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.pr-0{
    padding-right: 0px;
}

.large-font{
    font-size: 17px;
}

.text-justify{
    text-align: justify;
}

.block{
    display: block !important;
}
.inline-block{
    display: inline-block;
}

.cursor-pointer{
    cursor: pointer;
}

/*styles for mobile*/
@media only screen and (max-width: 715px){
    .mt-xs-2{
      margin-top: 2rem;
    }
}

.hvr-underline:before{
    position: absolute;
    content: "";
    left: 50%;
    right: 50%;
    background: #2E2EFE;
    bottom: -1px;
    height: 1px;
    transition-property: left,right;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.hvr-underline:hover:before{
    left: 12px;
    right: 12px;
}

.active{
    border-bottom: 1px solid white;
}

.active:hover:before{
    left: 50%;
    right: 50%;
}

main .introduction{
     background-color: #2098D1;
     padding: 20px;
     color: white;
}

main .introduction .skillset_pointer{
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

main .introduction a.skillset_pointer{
    font-size: 2rem;
    color: white;
    text-decoration: none !important;
}

main .introduction a.skillset_pointer:hover{
    transform: scale(1.2);
}

main #skillset{
    max-width: 1200px;
    overflow-x: auto;
    margin: 2rem auto;
    height: 350px;
}

#about img{
    width: 100%;
}

hr.divider {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
    width: 95%;
    margin: 2rem auto;
}