body{
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #2098D1;
    color: white;
    overflow-y: auto;
    padding: 20px;
}

.logo_container{
    position: relative;
    left: -800px;
    -webkit-animation: slide 0.2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.2s forwards;
    animation-delay: 0.2s;
}

.logo{
    display: table;
    text-decoration: none !important;
    color: white;
}

.logo:hover{
     color: white;
}

.logo svg{
    display: table-cell;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;
}

.logo svg g{
    transition: all 1s ease-in-out;
    fill:#fff;
}

.logo svg:hover g{
   fill: #BDBDBD;
}

.logo .logo-name{
    display: table-cell;
    vertical-align: middle;
}

.logo-name h3{
    font-weight: 900;
    margin-bottom: 3px;
}

h3,h4,h5{
    margin-top: 0px;
    margin-bottom: 0px;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@-webkit-keyframes slide_from_right {
    100% { right: 0; }
}

@keyframes slide_from_right{
    100% { right: 0; }
}

#navigate{
    position: relative;
    right: -800px;
    -webkit-animation: slide_from_right 0.2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide_from_right 0.2s forwards;
    animation-delay: 0.2s;
}
#navigate ul{
    font-size: 2rem;
    color: white;
    padding-left: 0px;
}

#navigate ul > li{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    position: relative;
}

#navigate ul > li a{
    color: white;
    text-decoration: none !important;
}

@media only screen and (min-width: 715px){
    .dtable{
        display: table;
        width: 100%;
    }
    .dtablecell{
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

.text-center{
    text-align: center;
}

.pl-0{
    padding-left: 0px;
}

.ml-2{
    margin-left: 2rem;
}

.mt-2{
    margin-top: 2rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.pr-0{
    padding-right: 0px;
}

.large-font{
    font-size: 17px;
}

.text-justify{
    text-align: justify;
}

.block{
    display: block !important;
}
.inline-block{
    display: inline-block;
}

.cursor-pointer{
    cursor: pointer;
}

.bold{
    font-weight: 900;
    color: black;
}

h2{
    margin-top: 0px;
}

/*styles for mobile*/
@media only screen and (max-width: 715px){
    .mt-xs-2{
      margin-top: 2rem;
    }
    .ui-accordion .ui-accordion-header{
        font-size: 1.2em !important;
    }
    .ui-accordion .ui-accordion-content{
        padding: 1em 1em !important;
     }
     .ui-accordion .ui-accordion-content ul li{
        margin-bottom: 0.5em;
        font-size: 1em;
    }
     strong{
       font-size: 0.8em;
    }
    h1{
        font-size: 2.5em;
    }
    h3{
        font-size: 1.5em;
    }
    p{
        font-size: 1em !important;
    }
}

.hvr-underline:before{
    position: absolute;
    content: "";
    left: 50%;
    right: 50%;
    background: #2E2EFE;
    bottom: -1px;
    height: 1px;
    transition-property: left,right;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.hvr-underline:hover:before{
    left: 12px;
    right: 12px;
}

.active{
    border-bottom: 1px solid white;
}

.active:hover:before{
    left: 50%;
    right: 50%;
}

main .introduction{
     background-color: #2098D1;
     padding: 20px;
     color: white;
}

main .introduction .skillset_pointer{
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

main .introduction a.skillset_pointer{
    font-size: 2rem;
    color: white;
    text-decoration: none !important;
}

main .introduction a.skillset_pointer:hover{
    transform: scale(1.2);
}

main #skillset{
    max-width: 1200px;
    overflow-x: auto;
    margin: 2rem auto;
    height: 350px;
}

#about img{
    width: 100%;
}

hr.divider {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
    width: 95%;
    margin: 2rem auto;
}

.ui-accordion .ui-accordion-header{
    background-color: #2098D1;
    padding: 1em .5em 1em .7em;
    font-size: 1.5em;
    color: black;
}

.ui-accordion .ui-accordion-header > .ui-icon{
    display: none;
}

.ui-accordion .ui-accordion-content ul{
    list-style-type: circle;
    list-style-position: outside;
    padding: 0px;
}

.ui-accordion .ui-accordion-content{
   border: 1px solid #2098D1;
}

.ui-accordion .ui-accordion-content ul li{
    padding: 0.1em;
    font-size: 1.2em;
}

#projects ul{
    overflow: auto;
    padding: 0px;
}

#projects ul a{
   text-decoration: none;
   margin-bottom: 1em;
}

#projects ul a .name_tech > .description{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0px;
   padding: 0 15px;
   overflow: hidden;
   min-height: 250px;
   background-color: #2098D1;
   color: white;
   transform: scale(0);
   transition: all 0.5s ease-in-out;
   text-align: center;
}

#projects ul a .name_tech > .description ol{
    padding: 0px;
    list-style-position: inside;
    font-size: 1.2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#projects ul a .name_tech > .description ol li{
    margin-bottom: 0.5em;
}

#projects ul a .name_tech li + span{
   position: absolute;
   display: inline-block;
   width: 100%;
   top: 50%;
   left: 0px;
   text-align: center;
   color: white;
   font-size: 1.5em;
   padding: 0 2em;
   transform: translateY(-50%);
   background-color: slategrey;
}

#projects ul a .name_tech{
    position: relative;
    background-color: #2098D1;
}

#projects ul .name_tech .info{
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

#projects ul .name_tech .info li{
    list-style-type: none;
    overflow: hidden;
    min-height: 250px;
    color: white;
    text-align: center;
    padding: 1em;
}

#projects ul .name_tech .info li h3{
    color: mintcream;
}

#projects ul a:hover .name_tech .info{
    transform: scale(0);
}

#projects ul a:hover .name_tech .description{
    transform: scale(1);
}

footer{
    background-color: #6E6C6B;
    overflow: auto;
    padding: 2em;
}

footer p{
    font-size: 1.5em;
    color: white;
    font-family: Comic Sans MS;
}

footer img{
    width: 100%;
}